<body>
  <h2>New Skill</h2>

  <form action="/skills" method="POST" autocomplete="off">
    <label for="skill">Skill:
      <input type="text" name="skill" id="newSkillName">
    </label>
    <label for="level"> Level:
      <input type="number" name="level" id="newSkillLvl">
    </label>
    <label for="description">Description:
      <input type="text" name="description" id="newSkillDesc">
    </label>
    <button type="submit btn">Save Skill</button>
  </form>
</body>