<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>My journey in web development has been quite an exciting one so far. While I am still considered
       a newbie, I have learned a great deal in a short period of time. To see a list of my current
       skills, click on the link below.  I have included what I feel to be my current proficiency level for
       each skill. If you would like more information, you will be able to click through to a more detailed
       description of my experience with each skill. Be sure to check back often to see how much I've grown!</p>
    <p></p>
    <p></p>
    <p>Last updated: <%= date %></p> 
    <a href="./skills">My Current Skills</a>
  </body>
</html>
