<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my collection of skills.  I will be updating this collection as my skills increase.</p>
    <p>Be sure to check back to see how much I've grown!</p>
    <p>Last updated: August 17, 2019</p> 
    <a href="./skills">My Skills</a>
  </body>
</html>
