body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid black;
  justify-items: center;

}

#level, #details {
  text-align: center;
}

#details {
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 5px;
  align-content: center;
}
