body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 5px solid black;
  border-radius: 2px;
}

td {
  justify-content: center:
}